<h1>Index of all actors that the user is following</h1>


<ol>
	<% @actors.each do |actor| %>
	
	<li>
		<img src=<%= actor.picture_url %>
		<br>
		<%= actor.name %> 
		<%= link_to "Delete", actor, method: :delete %>		 
		<%= link_to "Showtimes", actor %>
	</li>
		
	<% end %>
</ol>