<br>
<br>
<br>
<br>
<h2 class="centered">Search for an actor</h2>

<div>
  <form accept-charset="UTF-8" action="/actors" class="new_actor" id="new_actor" method="post">
  	<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  		
    <div class="row">
      <div class="small-10">
        <div class="row">
  				<% if signed_in? %>

  	        <div class="small-9 columns">
  	          <input class="right inline" id="actor_name" name="actor[name]" placeholder="Tom Hanks..." type="text">
  	        </div>
  	        <div class="small-3 columns">         
  	          <input class="postfix" name="follow" type="submit" value="Follow">
  	        </div>

  				<% else %>

  	        <div class="small-9 columns">
  	          <input class="right inline" id="actor_name" name="actor[name]" placeholder="Tom Hanks..." type="text">
  	        </div>

          <% end %>     
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-10">
        <div class="row">
          <div class="small-9 columns">
            <input class="right inline" id="zipcode" name="zipcode" placeholder="Zipcode 78701" type="text">
          </div>
          <div class="small-3 columns">         
           	<input class="postfix" name="search" type="submit" value="Search">
          </div>
        </div>
      </div>
    </div>

	</form>

	<br> 

  <% if signed_in? %> 
		<h2 class="centered"><%= link_to 'My Actors', index_path %></h2>
	<% end %>

</div>