<h1>Actors#show</h1>

<p>actor name
	<%= @actor.name %>
<br>
actor picture
 <%= @actor.picture_url %>
</p>


<!-- <img id="event_map" src="http://maps.googleapis.com/maps/api/staticmap?center=AustinTX&zoom=13&sensor=false&size=600x300&key=AIzaSyAsl-bySeZhlYKZkQL1UI_DIeHQVgoZCFo">
 -->

<img border="0" src="//maps.googleapis.com/maps/api/staticmap?center=Austin,TX&amp;zoom=13&amp;size=600x300&amp;sensor=false" alt="Austin, TX">

