// Place all the styles related to the Actors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	border: 1px;
	border-color: black;
}

#background {
    height: 100%; 
    width: 100%;
    position: fixed; 
    left: 0px; 
    top: 0px; 
    z-index: -1; /* Ensure div tag stays behind content; -999 might work, too. */
    opacity:0.8;
}

.stretch {
    width:100%;
    height:100%;
}


#zipcode{
	width: 200px;
  height: 35px;
	font-size: larger;
	text-align: center;
}

#actor_name {
	width: 200px;
  height: 35px;
	font-size: larger;
	text-align: center;
}


input.centered {
	margin-left: auto;
	margin-right: auto;
}

//film title on actor show page
.title {
	font-size: 1.2em;
	color: #FFFE59;  //yellow primary color under foundation.scss
}

.centered {
	text-align: center;
	padding: 0, 0, 0, 0;
}

//size of actor picture on index page
.pic{
height: 170px;
}

// close button showed over actor pictures
#close {  
 	position: absolute;  
  top: 0px;  
  left: 15px;  
  height: 25px;
  width: 25px;
}

