// Place all the styles related to the Actors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.centered {
	text-align: center;
}

.search {
	text-align: center;
	width: 700px ;
	margin-left: auto ;
	margin-right: auto ;
}

#actor_name {
	width: 200px;
	height: 22px;
	font-size: larger;
	text-align: center;
}

#event_map { 
	width: 600px;
	height: 300px; 
}