// Place all the styles related to the Actors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	border: 1px;
	border-color: black;
}



.input{
	
}
.search {
	text-align: center;
	
	margin-left: auto ;
	margin-right: auto ;
}

#zipcode{
	width: 200px;
    height: 35px;
	font-size: larger;
	text-align: center;
}
#actor_name {
	width: 200px;
    height: 35px;
	font-size: larger;
	text-align: center;

}


.new_actor {
	margin: auto 0;
}

ol {
	list-style-position: inside;
margin-left: 20px
}
li {
	margin-left: 20px
	
}

.title {
	font-size: 1.2em;
	margin-left: 20px;
	color: blue;
}


input.centered {
	margin-left: auto;
	margin-right: auto;
}

.centered {
	text-align: center;
	padding: 0, 0, 0, 0;
	

}

.textfield {
	text-align: center;
	margin-left: 42%;
	width: 200px;
}
